.navbar-brand img {
	height:40px;
}
#second .row {
	margin-left: 0;
	margin-right: 0;
}
.row div {
	background: red;
	height: 200px;
}
.carousel-item {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 600px;
}